<p>
  <b>Start number:</b>
  <%=h @result.start_number %>
</p>

<p>
  <b>Category:</b>
  <%=h @result.category %>
</p>

<p>
  <b>Team:</b>
  <%=h @result.team %>
</p>

<p>
  <b>Liquid time:</b>
  <%=h @result.liquid_time %>
</p>

<p>
  <b>Official time:</b>
  <%=h @result.official_time %>
</p>

<p>
  <b>Class general:</b>
  <%=h @result.class_general %>
</p>

<p>
  <b>Class sex:</b>
  <%=h @result.class_sex %>
</p>

<p>
  <b>Class category:</b>
  <%=h @result.class_category %>
</p>

<p>
  <b>Pace:</b>
  <%=h @result.pace %>
</p>

<p>
  <b>Distance:</b>
  <%=h @result.distance %>
</p>

<p>
  <b>Substitute:</b>
  <%=h @result.substitute %>
</p>

<p>
  <b>Notes:</b>
  <%=h @result.notes %>
</p>

<p>
  <b>Race:</b>
  <%=h @result.race_id %>
</p>

<p>
  <b>Runner:</b>
  <%=h @result.athlete_id %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>