<h1>Listing runners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Cpf</th>
    <th>Phone</th>
    <th>Nick</th>
    <th>Email</th>
  </tr>

<% @runners.each do |runner| %>
  <tr>
    <td><%=h runner.name %></td>
    <td><%=h runner.sex %></td>
    <td><%=h runner.birthday %></td>
    <td><%=h runner.cpf %></td>
    <td><%=h runner.phone %></td>
    <td><%=h runner.nick %></td>
    <td><%=h runner.email %></td>
    <td><%= link_to 'Show', admin_runner_path(runner) %></td>
    <td><%= link_to 'Edit', edit_admin_runner_path(runner) %></td>
    <td><%= link_to 'Destroy', admin_runner_path(runner), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New runner', new_admin_runner_path %>