<p>
  <b>Name:</b>
  <%=h @runner.name %>
</p>

<p>
  <b>Sex:</b>
  <%=h @runner.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @runner.birthday %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @runner.cpf %>
</p>

<p>
  <b>Phone:</b>
  <%=h @runner.phone %>
</p>

<p>
  <b>Nick:</b>
  <%=h @runner.nick %>
</p>

<p>
  <b>Email:</b>
  <%=h @runner.email %>
</p>


<%= link_to 'Edit', edit_admin_runner_path(@runner) %> |
<%= link_to 'Back', admin_runners_path %>