<h1>Listing athletes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Cpf</th>
    <th>Phone</th>
    <th>Nick</th>
    <th>Email</th>
  </tr>

<% @athletes.each do |athlete| %>
  <tr>
    <td><%=h athlete.name %></td>
    <td><%=h athlete.sex %></td>
    <td><%=h athlete.birthday %></td>
    <td><%=h athlete.cpf %></td>
    <td><%=h athlete.phone %></td>
    <td><%=h athlete.nick %></td>
    <td><%=h athlete.email %></td>
    <td><%= link_to 'Show', admin_athlete_path(athlete) %></td>
    <td><%= link_to 'Edit', edit_admin_athlete_path(athlete) %></td>
    <td><%= link_to 'Destroy', admin_athlete_path(athlete), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New athlete', new_admin_athlete_path %>