<p>
  <b>Name:</b>
  <%=h @athlete.name %>
</p>

<p>
  <b>Sex:</b>
  <%=h @athlete.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @athlete.birthday %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @athlete.cpf %>
</p>

<p>
  <b>Phone:</b>
  <%=h @athlete.phone %>
</p>

<p>
  <b>Nick:</b>
  <%=h @athlete.nick %>
</p>

<p>
  <b>Email:</b>
  <%=h @athlete.email %>
</p>


<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>