<% form_for @user_session do |form| %>  
<%= form.error_messages %>
<div class="login">
  <p>
    <%= form.label :username, "Nome" %><span><%= form.text_field :username %></span>
  </p>
  <p>
  <%= form.label :password, "Senha" %><span><%= form.text_field :password %></span>
  </p>
  <p>  
    <%= form.submit "Enviar" %>  
  </p>
</div>
<% end %>

