<% form_for @user_session do |form| %>  
<%= form.error_messages %>
<div class="formList">
	<div>
		<span><%= form.label :username, "Nome" %></span>
    <span><%= form.text_field :username %></span>
	</div>
	<div>
		<span><%= form.label :password, "Senha" %></span>
    <span><%= form.text_field :password %></span>
	</div>	
  <div>  
    <%= form.submit "Enviar" %>  
  </div>
</div>
<% end %>

